@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom premium thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(249, 115, 22, 0.15); /* orange-500/15 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(249, 115, 22, 0.4); /* orange-500/40 */
}
